<% provide(:title, "Log in") %>
<div class="signup-login">
  <h1>Войти</h1> 
</div>

<div class="row">
  <div class="formLogin">
    <%= form_for(:session, url: login_path) do |f| %>

      <div class="fiels_signup_name">
        <%= f.label :email %>
        <%= f.email_field :email, :class => 'form-control',
        :placeholder => "Адрес электронной почты" %>
      </div>

      <div class="fiels_signup_name">
        <%= f.label :password %>
          <%= link_to "(forgot password)",
                       new_password_reset_path %>
        <%= f.password_field :password,
                           :class => 'form-control',
                 :placeholder => "Введите пароль" %>
      </div>

      <div class="fiels_signup_name">
        <%= f.label :remember_me, 
                  class: "checkbox inline" do %>
          <%= f.check_box :remember_me %>
          <span>Запомнить меня</span>
        <% end %>
      </div>

      <div class="sbmt1">
        <%= f.submit "Войти на сайт", :class => "btn1" %>
      </div>
    <% end %>

    <p class="link_to_signup">
      Еще не с нами? => <%= link_to "Создать свою страницу!",
                            signup_path, :class => 'CCC' %>
    </p>
  </div>
</div>
