<% provide(:title, "Изменение") %>
<div class="signup-login">
  <h1>Изменение профиля</h1>
</div>

<div class="row">
  <div class="form">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <div class="fiels_signup_name">
        <%= f.label :name, 'Ваше имя' %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
      <div class="fiels_signup_name">
        <%= f.label :age, 'Ваш возраст' %>
        <%= f.text_field :age, class: 'form-control' %>
      </div>
      <div class="fiels_signup_name">
        <%= f.label :city, 'Ваш город' %>
        <%= f.text_field :city, class: 'form-control' %>
      </div>
      <div class="fiels_signup_name">
        <%= f.label :email, 'Электронная почта' %>
        <%= f.email_field :email, class: 'form-control' %>
      </div>
      <div class="fiels_signup_name">
        <%= f.label :password, 'Придумайте пароль' %>
        <%= f.password_field :password,
                                  class: 'form-control' %>
      </div>
      <div class="fiels_signup_name">
        <%= f.label :password_confirmation,
                        'Повторите пароль' %>
        <%= f.password_field :password_confirmation,
                                  class: 'form-control' %>
      </div>
      <div class="fiels_signup_name">
        <%= f.submit "Сохранить", class: "btn btn-primary" %>
      </div>
    <% end %>

    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails" target="_blank">change</a>
    </div>
  </div>
</div>