<% provide(:title, "Sign Up") %>
<div id="signup">
 <h1>Регистрация</h1>
</div>
<div class="row">
  <div class="formSignup">
  	<%= form_for(@user) do |f| %>

    
    <div id="allForm">
      <div class='leftForm'>
  	  
        <div class="fiels_signup_name">
  	      <%= f.label :name, 'Ваше имя' %><br />
  	      <%= f.text_field :name, :class => "field_signup" %>
  	    </div>
      
        <div class="fiels_signup_name">
          <%= f.label :age, 'Ваш возраст' %><br />
          <%= f.text_field :age, :class => "field_signup" %>
        </div>
      
        <div class="fiels_signup_name">
          <%= f.label :city, 'Город проживания' %><br />
          <%= f.text_field :city, :class => "field_signup" %>
        </div>

      </div>
      <div class='rightForm'>
        <div class="fiels_signup_name">
  	      <%= f.label :email, 'Адрес электронной почты' %>
          <br />
  	      <%= f.email_field :email, 
                            :class => "field_signup" %>
        </div>
        <div class="fiels_signup_name">
  	      <%= f.label :password, 'Придумайте пароль' %><br />
  	      <%= f.password_field :password, 
  	                         :class => "field_signup" %>
        </div>
        <div class="fiels_signup_name">
  	      <%= f.label :password_confirmation,
                         'Повторите пароль' %>
          <br />
  	      <%= f.password_field :password_confirmation,
  	                         :class => "field_signup" %>
        </div>
        
      </div>
    </div>

      <div class="sbmt_signup">
  	  <%= f.submit "Создать свою страницу", 
  	                         :class => "btn_signup" %>
      </div>
  	<% end %>
  </div>
</div>
