<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-6">
    <section class="user_info">
      <div class='nameUser'><i>
        <%= gravatar_for @user %>
        <%= @user.name %></i>
      </div> 
        <div class='userAge'>
          	<% if @user.age == '21' || @user.age == '31' || @user.age == '41' || @user.age == '51' || @user.age == '61' %>
              <%= @user.age %> год
            <% elsif @user.age == '22' || @user.age == '23' || @user.age == '24' || @user.age == '32' || @user.age == '33' || @user.age == '34' || @user.age == '42' || @user.age == '43' || @user.age == '44'  || @user.age == '52' || @user.age == '53' || @user.age == '54'  || @user.age == '62' || @user.age == '63' || @user.age == '64'  %>
              <%= @user.age %> года
            <% else %>
              <%= @user.age %> лет
            <% end %>
        </div>

        <div class="city">  
          <%= @user.city %>
        </div>
    </section>
  </aside>
</div>