<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> | Мотивашка</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js' %>
  <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css' %>


  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <header class="navbar navbar-fixed-top">
    <div class="container">
      <div class='logo'>Motivashka</div>
        

            

<nav>
  <ul class="topmenu">
    <li><%= link_to 'Главная', root_path,
                     :class => "a" %></li>
    <li><%= link_to 'Мотивашки', root_path,
                     :class => "a" %></li>
    <li><%= link_to 'Профиль', current_user, :class => 'a' %>
      <ul class="submenu">
        <li><%= link_to 'Настройки', root_path,
                     :class => "a" %></li>
        <li><%= link_to 'Выход', logout_path, 
        method: "delete", :class => "a" %></li>
      </ul>
    </li>
    <li><%= link_to 'Помощь', help_path,
                     :class => "a" %></li>
    <li><%= link_to 'Контакты', contacts_path,
                     :class => "a" %></li>
  </ul>
</nav>
             
          



            
          </ul>
        </nav>
    </div>
  </header>
  <div class='container'> 
    <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>">
          <%= message %>
        </div>
    <% end %>     
    <%= yield %>
  </div>  
</body>
</html>
