<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Мотивашка</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    
    <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js' %>
    <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css' %>


    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-fixed-top">
      <div class="container">
        <div class='logo'>AppName</div>
        <nav>
          <ul class='nav navbar-nav navbar-right'>
            <li><%= link_to 'Главная', root_path,
                               :class => 'link' %></li>
            <li><%= link_to 'Мой профиль', '#',
                               :class => 'link' %></li>
            <li><%= link_to 'Помощь', help_path,
                               :class => 'link' %></li>
            <li><%= link_to 'Контакты', contacts_path,
                               :class => 'link' %></li>
            <li><%= link_to 'Регистрация', signup_path,
                               :class => 'link' %></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class='container'>      
      <%= yield %>
    </div>  
  </body>
</html>
